<h1>Cart</h1>

<div id='cart'>
  {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
              <button class='btn btm-small js-remove' data-id='{{_id}}'>Delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <p><strong>Total:</strong> <span class='price'>{{totalPrice}}</span></p>

    <form action='/orders' method='POST'>
      <button type='submit' class='btn'>Create Order</button>
    </form>
  {{else}}
    <p>Cart is empty</p>

  {{/if}}
</div>